h1 {
    color:red;
    display: flex;
    justify-content: center;
}

.background{
    background-image: url(https://cdn-uploads.gameblog.fr/img/news/403566_62c7fba43e7f7.gif);
    background-size: cover;
    background-repeat: no-repeat;
  }
#myCanvas {
    border: 1px solid black;
    background-color: lightgray;
    display: flex;
    margin: auto;
}

video {
    display:none;
}


