h1 {
    color:red;
    display: flex;
    justify-content: center;
}

#myCanvas {
    border: 1px solid black;
    background-color: lightgray;
    display: flex;
    margin: auto;
}

video {
    display:none;
}